[user]
	name = i3cheese
	email = yo@i3cheese.me
[core]
	autocrlf = input
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
    undo = reset --soft HEAD^
[includeIf "gitdir:~/joomcode/"]
    path = ~/dots/.gitconfig-joom.toml
